
DirectoryIndex view

SetHandler axkit

AxGzipOutput Off

AxDebugLevel 0

AxAddXSPTaglib AxKit::XSP::Wiki

AxAddRootProcessor application/x-xsp NULL xspwiki
AxAddRootProcessor text/xsl wiki.xsl xspwiki

